@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');

body{
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    background: gray;
    margin: 0;
    padding: 0;
}
h1, h3, p {
    margin: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
    background: white;
}
.top_part, .about_part {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.top_left, .about_right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.top_left, .top_right, .about_right {
    width: 400px;
}
.about_right p, .top_left p {
    margin-bottom: 20px;
}
h1 span {
    color: tomato;
}
.top_right img {
    width: 100%;
    margin: 0 auto;
}

.btn{
    text-decoration: none;
    background: linear-gradient(to left, rgb(168, 27, 2), rgb(194, 149, 141));
    color: white;
    padding: 5px 19px;
    border-radius: 10px;
    font-size: 20px;
}
.btn:hover {
    background: linear-gradient(to left, rgb(194, 149, 141),rgb(168, 27, 2));
}
.about_part{
    background-image: url(./images/about_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about_left img{
    width: 245px;
}
.recipie_part {
    text-align: center;
    padding: 10px;
}
.recipie_top {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.recipie_cards {
    display: flex;
    justify-content: space-around;
}
.single_card {
    width: 325px;
    box-shadow: 0px 0px 12px 6px wheat;
    padding: 20px;
    border-radius: 15px;
}
.single_card img {
    width: 320px;
    border-radius: 15px;
}

.counter_part {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin: 85px 22px;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 6px wheat;
}
.client_section{
    text-align: center;
    background-image: url(./images/client_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}
.ceo_div{
    padding: 20px 0px;
}
#ceo_name{
    font-weight: bold;
    color: black;
    margin-bottom: -12px;
}
.email_div{
    padding: 8px 0px;
    width: 45%;
    margin: auto;
    background: #EC4F8F;
    border-radius: 5px;
    margin-top: 58px;
}
.footer{
    color: #5B5B5B;
    background: black;
    text-align: center;
    padding: 30px 0 70px 0;
}
.footer h3 span{
    color: tomato;
}
